html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background: url(background.jpg);
	background-size: cover;
}

*:focus {
    outline: 0;
}




#center {
	height: 90%;
	width: 80%;
	margin: 2.5% auto;
	overflow: hidden;
	box-sizing: border-box;
	border: 4px solid black;	
	background: linear-gradient(hsla(200, 0%, 50%, 0.5), hsla(200, 0%, 90%, 0.5));
}







strong {
	font-weight: bold;
}

h1 {
	margin-top: 12%;

	font-size: 4em;
	text-align: center;
	text-shadow: 1px 1px 5px black, 0 0 60px hsl(200, 40%, 30%), 0 0 40px hsl(200, 40%, 30%), 0 0 20px hsl(200, 40%, 30%);
}

h3 {
	position: relative;
	margin-top: 1%;

	font-size: 2em;
	color: hsla(200, 40%, 30%, 0.9);
	
	text-shadow: 1px 1px 0 #000;

	-webkit-animation-duration: 25s;

	-webkit-animation-timing-function: linear;

  -webkit-animation-name: marquee;

  -webkit-animation-iteration-count: infinite;
  /* add moz prefixed ones too*/
}

@-webkit-keyframes marquee {
	  from {
	  	left: 100%;
	  }
	  to {
	  	left: -70%;
	  }
}






button {
	display: block;
	margin: 5% auto;
	width: 30%;
	height: 5%;

  border: 3px solid black;
  border-radius: 5%/50%;
  box-shadow: 2px 2px 5px black;

	font-size: 1.6em;
}

button:hover {
	-webkit-animation-duration: 0.5s;

	-webkit-animation-timing-function: linear;

  -webkit-animation-name: wobble;

  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wobble{
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}

}


button:active {
	background: #333;
	color: #222;
  font-size: 1.55em;
  box-shadow: 1px 1px 2px black;
}




#advice {
  text-align: center;
  width: 60%;
  margin: 10% auto;
  font-size: 3em;
  font-family: monospace;
  font-weight: bold;
  line-height: 1.5em;
  
  text-shadow:  2px 2px 0px hsl(200, 50%, 30%), -2px -2px 0px hsl(200, 50%, 30%), -2px 2px 0px hsl(200, 50%, 30%), 2px -2px 0px hsl(200, 50%, 30%), 
                8px 8px 0 #888, -8px -8px 0 #888;
}

